@import url('https://fonts.googleapis.com/css?family=Pacifico');
.kontext {
	width: 100%;
	height: 100%;
}

.kontext .layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	/*box-shadow: 0px 0px 120px rgba( 0, 0, 0, 0.8 );*/
}

.kontext .layer.show {
	visibility: visible;
}

.kontext.capable {
	-webkit-perspective: 1000px;
	   -moz-perspective: 1000px;
	        perspective: 1000px;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}

.kontext.capable .layer {
	-webkit-transform: translateZ( -100px );
	   -moz-transform: translateZ( -100px );
	        transform: translateZ( -100px );
}

.kontext.capable .layer.show {
	-webkit-transform: translateZ( 0px );
	   -moz-transform: translateZ( 0px );
	        transform: translateZ( 0px );
}

.kontext.capable.animate .layer.show.right {
	-webkit-animation: show-right 1s forwards ease;
	   -moz-animation: show-right 1s forwards ease;
	        animation: show-right 1s forwards ease;
}

.kontext.capable.animate .layer.hide.right {
	-webkit-animation: hide-right 1s forwards ease;
	   -moz-animation: hide-right 1s forwards ease;
	        animation: hide-right 1s forwards ease;
}

.kontext.capable.animate .layer.show.left {
	-webkit-animation: show-left 1s forwards ease;
	   -moz-animation: show-left 1s forwards ease;
	        animation: show-left 1s forwards ease;
}

.kontext.capable.animate .layer.hide.left {
	-webkit-animation: hide-left 1s forwards ease;
	   -moz-animation: hide-left 1s forwards ease;
	        animation: hide-left 1s forwards ease;
}


/* CSS animation keyframes */

@-webkit-keyframes show-right {
	0%   { -webkit-transform: translateZ( -200px ); }
	40%  { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { -webkit-transform: translateZ( 0px ); }
}

@-webkit-keyframes hide-right {
	0%   { -webkit-transform: translateZ( 0px ); visibility: visible; }
	40%  { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { -webkit-transform: translateZ( -200px ); visibility: hidden; }
}

@-moz-keyframes show-right {
	0%   { -moz-transform: translateZ( -200px ); }
	40%  { -moz-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { -moz-transform: translateZ( 0px ); }
}

@-moz-keyframes hide-right {
	0%   { -moz-transform: translateZ( 0px ); visibility: visible; }
	40%  { -moz-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { -moz-transform: translateZ( -200px ); visibility: hidden; }
}

@keyframes show-right {
	0%   { transform: translateZ( -200px ); }
	40%  { transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { transform: translateZ( 0px ); }
}

@keyframes hide-right {
	0%   { transform: translateZ( 0px ); visibility: visible; }
	40%  { transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { transform: translateZ( -200px ); visibility: hidden; }
}


@-webkit-keyframes show-left {
	0%   { -webkit-transform: translateZ( -200px ); }
	40%  { -webkit-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { -webkit-transform: translateZ( 0px ); }
}

@-webkit-keyframes hide-left {
	0%   { -webkit-transform: translateZ( 0px ); visibility: visible; }
	40%  { -webkit-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { -webkit-transform: translateZ( -200px ); visibility: hidden; }
}

@-moz-keyframes show-left {
	0%   { -moz-transform: translateZ( -200px ); }
	40%  { -moz-transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { -moz-transform: translateZ( 0px ); }
}

@-moz-keyframes hide-left {
	0%   { -moz-transform: translateZ( 0px ); visibility: visible; }
	40%  { -moz-transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { -moz-transform: translateZ( -200px ); visibility: hidden; }
}

@keyframes show-left {
	0%   { transform: translateZ( -200px ); }
	40%  { transform: translate( -40%, 0 ) scale( 0.8 ) rotateY( 20deg ); }
	100% { transform: translateZ( 0px ); }
}

@keyframes hide-left {
	0%   { transform: translateZ( 0px ); visibility: visible; }
	40%  { transform: translate( 40%, 0 ) scale( 0.8 ) rotateY( -20deg ); }
	100% { transform: translateZ( -200px ); visibility: hidden; }
}


/* Dimmer */

.kontext .layer .dimmer {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	visibility: hidden;
	background: transparent;
}

	.kontext.capable.animate .layer .dimmer {
		-webkit-transition: background 1s ease;
		   -moz-transition: background 1s ease;
		        transition: background 1s ease;
	}

	.kontext.capable.animate .layer.hide .dimmer {
		visibility: visible;
		background: rgba( 0, 0, 0, 0.7 );
	}




/* Styles for the demo */

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

body {
	background-color: #222;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGklEQVQIW2NkYGD4D8SMQAwGcAY2AbBKDBUAVuYCBQPd34sAAAAASUVORK5CYII=);
	background-repeat: repeat;

	font-family: Helvetica, sans-serif, 'Pacifico', cursive;
	font-size: 16px;
	color: #fff;
}

.layer {
	text-align: center;
	text-shadow: 1px 1px 0px rgba( 0, 0, 0, 0.1 );
}

.layer h2 {
	position: relative;
	top: 20%;
	margin: 0;
	font-size: 6.25em;
}

.layer p {
	position: relative;
	top: 20%;
	margin: 0;
}

.layer.one {
	background: #003444;
}

.layer.two {
	background: #d6589d;
}

.layer.three {
	background: #64b9d2;
}

.bullets {
	position: absolute;
	width: 100%;
	bottom: 20px;
	padding: 0;
	margin: 0;
	text-align: center;
}

	.bullets li {
		display: inline-block;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		margin: 0 3px;

		background: rgba( 255, 255, 255, 0.5 );
		box-shadow: 0px 0px 4px rgba( 0, 0, 0, 0.2 );
		cursor: pointer;

		-webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
	}

		.bullets li:hover {
			background: rgba( 255, 255, 255, 0.8 );
		}

		.bullets li.active {
			cursor: default;
			background: #fff;
		}

@media screen and (max-width: 400px) {
	body {
		font-size: 12px;
	}

	.layer h2 {
		font-size: 5em;
	}

	.bullets li {
		margin: 0 6px;
	}
}
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 20px -191.6666666667px #c400ff, 158px 5.3333333333px #8400ff, 181px 4.3333333333px #ff00aa, 202px 23.3333333333px #00d0ff, 240px -391.6666666667px #ffdd00, 74px -295.6666666667px #00ff11, -34px -6.6666666667px #bbff00, -48px -239.6666666667px #000dff, 249px -188.6666666667px #aaff00, 31px -401.6666666667px #55ff00, 221px -28.6666666667px #91ff00, 204px -155.6666666667px #005eff, 71px -257.6666666667px #00f7ff, 9px -86.6666666667px #ff0044, -218px -188.6666666667px #ff9900, 96px -339.6666666667px #009dff, -174px -204.6666666667px #00ff95, 92px -111.6666666667px #0091ff, 217px -74.6666666667px #ff9100, -185px -367.6666666667px #9900ff, 43px -274.6666666667px #33ff00, 65px -151.6666666667px #00ff09, 221px -177.6666666667px #00ff6a, -235px -218.6666666667px #95ff00, -187px -201.6666666667px #fff200, -245px -244.6666666667px #5900ff, 217px -353.6666666667px #eeff00, 49px 12.3333333333px #ff3700, -180px -151.6666666667px #ff006a, 225px -412.6666666667px #00ffb7, -194px -237.6666666667px #ff4800, 208px 70.3333333333px #00ff2b, 110px 35.3333333333px #3300ff, 182px -269.6666666667px #f2ff00, 31px -409.6666666667px #ffa600, -137px -98.6666666667px #00ff59, 242px -202.6666666667px #5eff00, 212px -214.6666666667px #00ff6a, -20px -332.6666666667px #00fbff, 187px -366.6666666667px #00ffaa, -96px 41.3333333333px #00c8ff, 229px 35.3333333333px #00ff26, 13px 71.3333333333px #4dff00, -60px -255.6666666667px #00ff2f, -119px 37.3333333333px #6a00ff, 86px -305.6666666667px #006fff, -135px 21.3333333333px #007bff, -207px -190.6666666667px #ff00dd, -147px -167.6666666667px #00e6ff, 212px -53.6666666667px #8000ff, -239px -109.6666666667px #00ff09;
  }
}
@-moz-keyframes bang {
  to {
    box-shadow: 20px -191.6666666667px #c400ff, 158px 5.3333333333px #8400ff, 181px 4.3333333333px #ff00aa, 202px 23.3333333333px #00d0ff, 240px -391.6666666667px #ffdd00, 74px -295.6666666667px #00ff11, -34px -6.6666666667px #bbff00, -48px -239.6666666667px #000dff, 249px -188.6666666667px #aaff00, 31px -401.6666666667px #55ff00, 221px -28.6666666667px #91ff00, 204px -155.6666666667px #005eff, 71px -257.6666666667px #00f7ff, 9px -86.6666666667px #ff0044, -218px -188.6666666667px #ff9900, 96px -339.6666666667px #009dff, -174px -204.6666666667px #00ff95, 92px -111.6666666667px #0091ff, 217px -74.6666666667px #ff9100, -185px -367.6666666667px #9900ff, 43px -274.6666666667px #33ff00, 65px -151.6666666667px #00ff09, 221px -177.6666666667px #00ff6a, -235px -218.6666666667px #95ff00, -187px -201.6666666667px #fff200, -245px -244.6666666667px #5900ff, 217px -353.6666666667px #eeff00, 49px 12.3333333333px #ff3700, -180px -151.6666666667px #ff006a, 225px -412.6666666667px #00ffb7, -194px -237.6666666667px #ff4800, 208px 70.3333333333px #00ff2b, 110px 35.3333333333px #3300ff, 182px -269.6666666667px #f2ff00, 31px -409.6666666667px #ffa600, -137px -98.6666666667px #00ff59, 242px -202.6666666667px #5eff00, 212px -214.6666666667px #00ff6a, -20px -332.6666666667px #00fbff, 187px -366.6666666667px #00ffaa, -96px 41.3333333333px #00c8ff, 229px 35.3333333333px #00ff26, 13px 71.3333333333px #4dff00, -60px -255.6666666667px #00ff2f, -119px 37.3333333333px #6a00ff, 86px -305.6666666667px #006fff, -135px 21.3333333333px #007bff, -207px -190.6666666667px #ff00dd, -147px -167.6666666667px #00e6ff, 212px -53.6666666667px #8000ff, -239px -109.6666666667px #00ff09;
  }
}
@-o-keyframes bang {
  to {
    box-shadow: 20px -191.6666666667px #c400ff, 158px 5.3333333333px #8400ff, 181px 4.3333333333px #ff00aa, 202px 23.3333333333px #00d0ff, 240px -391.6666666667px #ffdd00, 74px -295.6666666667px #00ff11, -34px -6.6666666667px #bbff00, -48px -239.6666666667px #000dff, 249px -188.6666666667px #aaff00, 31px -401.6666666667px #55ff00, 221px -28.6666666667px #91ff00, 204px -155.6666666667px #005eff, 71px -257.6666666667px #00f7ff, 9px -86.6666666667px #ff0044, -218px -188.6666666667px #ff9900, 96px -339.6666666667px #009dff, -174px -204.6666666667px #00ff95, 92px -111.6666666667px #0091ff, 217px -74.6666666667px #ff9100, -185px -367.6666666667px #9900ff, 43px -274.6666666667px #33ff00, 65px -151.6666666667px #00ff09, 221px -177.6666666667px #00ff6a, -235px -218.6666666667px #95ff00, -187px -201.6666666667px #fff200, -245px -244.6666666667px #5900ff, 217px -353.6666666667px #eeff00, 49px 12.3333333333px #ff3700, -180px -151.6666666667px #ff006a, 225px -412.6666666667px #00ffb7, -194px -237.6666666667px #ff4800, 208px 70.3333333333px #00ff2b, 110px 35.3333333333px #3300ff, 182px -269.6666666667px #f2ff00, 31px -409.6666666667px #ffa600, -137px -98.6666666667px #00ff59, 242px -202.6666666667px #5eff00, 212px -214.6666666667px #00ff6a, -20px -332.6666666667px #00fbff, 187px -366.6666666667px #00ffaa, -96px 41.3333333333px #00c8ff, 229px 35.3333333333px #00ff26, 13px 71.3333333333px #4dff00, -60px -255.6666666667px #00ff2f, -119px 37.3333333333px #6a00ff, 86px -305.6666666667px #006fff, -135px 21.3333333333px #007bff, -207px -190.6666666667px #ff00dd, -147px -167.6666666667px #00e6ff, 212px -53.6666666667px #8000ff, -239px -109.6666666667px #00ff09;
  }
}
@-ms-keyframes bang {
  to {
    box-shadow: 20px -191.6666666667px #c400ff, 158px 5.3333333333px #8400ff, 181px 4.3333333333px #ff00aa, 202px 23.3333333333px #00d0ff, 240px -391.6666666667px #ffdd00, 74px -295.6666666667px #00ff11, -34px -6.6666666667px #bbff00, -48px -239.6666666667px #000dff, 249px -188.6666666667px #aaff00, 31px -401.6666666667px #55ff00, 221px -28.6666666667px #91ff00, 204px -155.6666666667px #005eff, 71px -257.6666666667px #00f7ff, 9px -86.6666666667px #ff0044, -218px -188.6666666667px #ff9900, 96px -339.6666666667px #009dff, -174px -204.6666666667px #00ff95, 92px -111.6666666667px #0091ff, 217px -74.6666666667px #ff9100, -185px -367.6666666667px #9900ff, 43px -274.6666666667px #33ff00, 65px -151.6666666667px #00ff09, 221px -177.6666666667px #00ff6a, -235px -218.6666666667px #95ff00, -187px -201.6666666667px #fff200, -245px -244.6666666667px #5900ff, 217px -353.6666666667px #eeff00, 49px 12.3333333333px #ff3700, -180px -151.6666666667px #ff006a, 225px -412.6666666667px #00ffb7, -194px -237.6666666667px #ff4800, 208px 70.3333333333px #00ff2b, 110px 35.3333333333px #3300ff, 182px -269.6666666667px #f2ff00, 31px -409.6666666667px #ffa600, -137px -98.6666666667px #00ff59, 242px -202.6666666667px #5eff00, 212px -214.6666666667px #00ff6a, -20px -332.6666666667px #00fbff, 187px -366.6666666667px #00ffaa, -96px 41.3333333333px #00c8ff, 229px 35.3333333333px #00ff26, 13px 71.3333333333px #4dff00, -60px -255.6666666667px #00ff2f, -119px 37.3333333333px #6a00ff, 86px -305.6666666667px #006fff, -135px 21.3333333333px #007bff, -207px -190.6666666667px #ff00dd, -147px -167.6666666667px #00e6ff, 212px -53.6666666667px #8000ff, -239px -109.6666666667px #00ff09;
  }
}
@keyframes bang {
  to {
    box-shadow: 20px -191.6666666667px #c400ff, 158px 5.3333333333px #8400ff, 181px 4.3333333333px #ff00aa, 202px 23.3333333333px #00d0ff, 240px -391.6666666667px #ffdd00, 74px -295.6666666667px #00ff11, -34px -6.6666666667px #bbff00, -48px -239.6666666667px #000dff, 249px -188.6666666667px #aaff00, 31px -401.6666666667px #55ff00, 221px -28.6666666667px #91ff00, 204px -155.6666666667px #005eff, 71px -257.6666666667px #00f7ff, 9px -86.6666666667px #ff0044, -218px -188.6666666667px #ff9900, 96px -339.6666666667px #009dff, -174px -204.6666666667px #00ff95, 92px -111.6666666667px #0091ff, 217px -74.6666666667px #ff9100, -185px -367.6666666667px #9900ff, 43px -274.6666666667px #33ff00, 65px -151.6666666667px #00ff09, 221px -177.6666666667px #00ff6a, -235px -218.6666666667px #95ff00, -187px -201.6666666667px #fff200, -245px -244.6666666667px #5900ff, 217px -353.6666666667px #eeff00, 49px 12.3333333333px #ff3700, -180px -151.6666666667px #ff006a, 225px -412.6666666667px #00ffb7, -194px -237.6666666667px #ff4800, 208px 70.3333333333px #00ff2b, 110px 35.3333333333px #3300ff, 182px -269.6666666667px #f2ff00, 31px -409.6666666667px #ffa600, -137px -98.6666666667px #00ff59, 242px -202.6666666667px #5eff00, 212px -214.6666666667px #00ff6a, -20px -332.6666666667px #00fbff, 187px -366.6666666667px #00ffaa, -96px 41.3333333333px #00c8ff, 229px 35.3333333333px #00ff26, 13px 71.3333333333px #4dff00, -60px -255.6666666667px #00ff2f, -119px 37.3333333333px #6a00ff, 86px -305.6666666667px #006fff, -135px 21.3333333333px #007bff, -207px -190.6666666667px #ff00dd, -147px -167.6666666667px #00e6ff, 212px -53.6666666667px #8000ff, -239px -109.6666666667px #00ff09;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
body {background: #eee;}
.swing {
    animation: swing ease-in-out 1s infinite alternate;
    transform-origin: center -20px;
    float:left;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
    border: 5px solid #f8f8f8;
    display: block;
}
.swing:after{
    content: '';
    position: absolute;  
    width: 20px; height: 20px;  
    border: 1px solid #999;
    top: -10px; left: 50%;
    z-index: 0;
    border-bottom: none;
    border-right: none;
    transform: rotate(45deg);
}
/* nail */
.swing:before{
    content: '';
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
    background: #000;
}
 
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
